<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoBp1FI07YyOYJNQcdgqA_ZrcqP_vFr0w</string>
	<key>GCM_SENDER_ID</key>
	<string>58188397486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamilamahammadli.ToDoListly</string>
	<key>PROJECT_ID</key>
	<string>todolistly-21180</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistly-21180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58188397486:ios:dc9001040d999a8beae63f</string>
</dict>
</plist>